<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M:%line - %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="off"/>
    <logger name="com.redhat" level="debug"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.beans" level="info"/>
    <logger name="org.springframework.context" level="info"/>
    <logger name="org.springframework.security" level="warn"/>
    <logger name="org.springframework.data.repository.config" level="info"/>
    <logger name="org.springframework.boot.autoconfigure" level="warn"/>
    <logger name="org.springframework.boot.test.autoconfigure" level="warn"/>
    <logger name="org.springframework.boot.test.context" level="warn"/>
    <logger name="org.springframework.test.context" level="warn"/>
</configuration>